* {
    box-sizing: border-box;
}

h1 {
    font-family: Playfair Display;
    font-weight: bold;
    color: #F0C808;
    font-size: 36px;
}

h2 {
    font-family: Lora, serif;
    font-size: 30px;
    font-weight: 600;
    color: #F0C808;
}

h3 {
    font-family: Raleway, serif;
    font-size: 24px;
    font-weight: medium;
    color: #F0C808;
}

p {
    font-family: merriweather;
    font-weight: regular;
    font-size: 17px;
}

a {
    font-family: lora;
    font-weight: italic;
    font-size: 13px;
}

.section {
    margin: 20px auto;
    max-width: 800px;
}

.section h2 {
    font-family: 'Poppins', serif;
    font-size: 28px;
    color: #f0c808;
    margin-bottom: 20px;
    padding: 20px;
}

.section p {
    margin: 20px;
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #f5f5f0;
    border: 8px solid #b2d7b3;
    border-radius: 5px;
    font-family: poppins;
    font-weight: 600;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button__fleche {
    width: 15px;
    height: auto;
    margin-right: 8px;
}

.button:hover {
    background-color: #e0f3e0;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

body {
    background-color: #F5F5DC;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #f0c808;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 0;
}

.scroll-to-top:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.scroll-to-top:active {
    transform: scale(0.9);
}
.section-title {
    padding: 20px;
}
