.menu__social-network img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title-info {
    padding: 20px;
}
.image-info {
    width: 100%;
}
.social-media img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
    margin-right: 30px;
}
.mail-contact {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
