.filmspe-title {
    color:#F0C808
}
.filmspe-img {
    width: 250px;
    display: block;
    margin-left: 70px;
}

.Bandeannonce {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.Bandeannonce-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
}
