.section-film {
    
}
.section-title-film a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.section-film-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-film-img {
    width: 120px;
}
