.localisation-map {
    position: relative;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
}

.image-map {
    display: block;
    width: 100%;
    height: auto;
}

.ping-container {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -100%);
}

.ping-icon {
    width: 50px;
    height: auto;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -110%);
    }
    40% {
        transform: translate(-50%, -120%);
    }
    60% {
        transform: translate(-50%, -115%);
    }
}

.localisation-map a.button {
    margin: 10px;
    margin-left: 70px;
}
