.menu {
    visibility: hidden;
    display: flex;
    position: fixed;
    inset: 0;
    z-index: 1;
    background-color: #F5F5DC;
    color: black;
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 40px 40px;
    transform: translateX(100vw);
    transition: all 0.3s ease-in-out;
}

.menu[aria-hidden="false"] {
    transform: translateX(0);
    visibility: visible;
}

.menu__link {
    color: rgb(0, 0, 0);
    font-family: 'raleway', medium;
    text-decoration: none;
    font-size: 24px;
    display: block;
    align-items: center;
    z-index: 10;
    margin-bottom: 60px;
}

.menu__link--silent {
    color: #7b7b7b;
    font-size: 0.875rem;
}

.header__logo-aft {
    display: block;
    position: relative;
    left: 45px;
    width: 80px;
    height: auto;
    top: -50px;
    z-index: 10;
}

.header__title-aft {
    display: block;
    margin: 0 auto;
    top: -95px;
    width: 80px;
    height: auto;
    position: relative;
    bottom: 20px;
    color: black;
    font-size: 20px;
}

.menu__social-network {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: -70px;
    margin-bottom: 20px;
    position: relative;
}

.menu__social-network img {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.menu-btn {
    position: absolute;
    top: 35px;
    right: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}

.menu-btn__bar::after {
    top: 10px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar {
    transform: rotate(-45deg);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before {
    transform: rotate(-90deg);
    top: 16px;
    left: -15px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
    transform: rotate(90deg);
    top: 16px;
    left: -15px;
}
