.tarifs-list {
    list-style: none;
    padding: 0;
}

.tarif-item {
    font-weight: bold;
    margin-top: 20px;
}

.tarifs-list p {
    margin: 5px 0;
    line-height: 1.6;
}

.tarif-price {
    color: #f0c808;
    font-weight: bold;
    margin-top: 5px;
}
