@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Vendors */
@import "vendors/normalize.css";

/* Utils */
@import "utils/variables.css";

/* Base */
@import "base/main.css";
@import "base/media.css";

/* Layout */
@import "layout/header.css";
@import "layout/footer.css";

/* Components */
@import "components/menu.css";
@import "components/hero.css";
@import "components/section.css";
@import "components/intro.css";
@import "components/work.css";